<div class="light-gray-div margin-bottom min-300">
  <div>
    <a md-button color="primary">Flat button</a>
    <a md-raised-button color="accent">Raised button</a>
    <a md-fab color="primary">
      <md-icon>check</md-icon>
    </a>
    <a md-mini-fab color="primary">
      <md-icon>check</md-icon>
    </a>
  </div>

  <div>
    <button md-fab><md-icon class="white-text">accessibility</md-icon></button>
  </div>

  <div>
    <button md-mini-fab><md-icon class="white-text">accessibility</md-icon></button>
  </div>

  <div>
    <md-chip-list>
      <md-chip> md-chip</md-chip>

      <md-chip class="background-primary-color white-text">md-chip background-primary-color white-text</md-chip>

      <md-chip color="primary" selected="true">md-chip color="primary" selected="true"
      </md-chip>

      <md-chip color="accent" selected="true">md-chip color="accent" selected="true"
      </md-chip>

      <md-chip color="warn" selected="true">md-chip color="warn" selected="true"
      </md-chip>
    </md-chip-list>
  </div>
</div>

<!--
<div>
  <md-progress-spinner mode="determinate" value="25"></md-
  progress-spinner>
  
  <md-progress-spinner mode="determinate" value="50" 
  color="accent"></md-progress-spinner>
  
  <md-progress-spinner mode="determinate" value="75" color="warn">
  </md-progress-spinner>
</div>-->

<!--
 <h1>Angular Router</h1>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav>
  <router-outlet></router-outlet>-->